<div class="row">
  <div class="col-lg-6" ng-controller="AnalyzeCtrl">

    <h1>Word Cloud</h1>

    <p class="lead">
      Select some of the available lyrics and press <a
        ng-click="updateWordCloud()" style="cursor: pointer">update</a>
      to view the word cloud for their lyrics.
    </p>

    <div>
      <div ng-class="{hide: hideLoader}">
        <img src="images/small-loader.gif">
      </div>

      <div class="buttons-list" ng-repeat="lyrics in lyricsList">
        <span tooltip-popup-delay="1000" tooltip-placement="bottom"
          tooltip="{{preview(lyrics.text)}}">

          <button type="button" class="btn btn-primary" btn-checkbox
            ng-model="lyrics.checked">{{lyrics.title}}, by
            {{lyrics.artist}}</button>

        </span>
      </div>
    </div>

  </div>

  <div class="col-lg-6">

    <div id="cloud" class="jumbotron">
      <p class="lead message">The word cloud will be shown here
        after you select some lyrics.</p>
      <img class="loader" src="images/loader.gif"
        style="display: none">
    </div>

  </div>
</div>